<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.clientcontractorproject/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.clientcontractorproject.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Client.browse"
              caption="msg://com.company.clientcontractorproject.screen.client/clientBrowse.menu"/>
        <item screen="LegalEntity.browse"
              caption="msg://com.company.clientcontractorproject.screen.legalentity/legalEntityBrowse.menu"/>
        <item screen="Contract.browse"
              caption="msg://com.company.clientcontractorproject.screen.contract/contractBrowse.menu"/>
        <item screen="Contractor.browse"
              caption="msg://com.company.clientcontractorproject.screen.contractor/contractorBrowse.menu"/>
        <item screen="Individual.browse"
              caption="msg://com.company.clientcontractorproject.screen.individual/individualBrowse.menu"/>
    </menu>

</menu-config>